@model List<ET.DTO.RAM_DTO>
@section Scripts
{
    <script type="text/javascript">
        let idGlobal;
        const Guardar = () => {
            let comboDDR = document.getElementById("txtDDR");
            let comboCapacidad = document.getElementById("txtCapacidad");
            $.ajax({
                url: "/Ram/Create", 
                type: "POST",
                data: {
                    descrip: document.getElementById("txtDescripcion").value,
                    cons: document.getElementById("txtConsumo").value,
                    ddr: comboDDR.options[comboDDR.selectedIndex].text,
                    cap: comboCapacidad.options[comboCapacidad.selectedIndex].text
                },
                success: function (respuesta) {
                    window.location.reload();
                },
                error: function () {
                    alert("Error al guardar el elemento");
                }
            });
            CerrarModales();
            window.location.reload();
        }
        const LlamarVistaAgregar = () => {
            document.getElementById("modalGuardado").style.display = "block";
        }
        const CerrarModales = () => {
            document.getElementById("modalConfirmarBorrado").style.display = "none";
            document.getElementById("modalGuardado").style.display = "none";
        }
        const Eliminar = (id, confirmado) => {
            if (id!=0)
                idGlobal = id;
            if (!confirmado)
                document.getElementById("modalConfirmarBorrado").style.display = "block";
            else
            {
                id = idGlobal;
                $.ajax({
                    url: "/Ram/Delete", // URL del controlador y acción
                    type: "POST",
                    data: { id: id }, 
                    success: function (respuesta) {
                        window.location.reload();
                    },
                    error: function () {
                        alert("Error al eliminar el elemento");
                    }
                });
            }
        }
        const SoloNumeros = (evt) => {
            if (window.event) 
                keynum = evt.keyCode;
            else
                keynum = evt.which;
            if (keynum > 47 && keynum < 58 || keynum == 8 || keynum == 13)
                return true;
            else
            {
                swal("Ha ocurrido un problema", "Ingrese unicamente numeros", "success");
                return false;
            }
                
        }
    </script>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-md-4 col-sm-12 p-3">
            <h1 class="title text-center">Gestión de las RAM del catálogo</h1>
        </div>
        <div class="col-md-4 col-sm-12"></div>
        <div class="col-md-8 offset-md-2 p-2 text-center">
            <form action="" class="form-control">
                <div class="col-md-12 input-group p-3">
                    <input class="form-control col-md-10" type="text" placeholder="Descripcion" onchange="alert('Evento busqueda')">
                    <button class="btn btn-outline-secondary" onclick="alert('Evento busqueda')">
                        <span>&#63;</span>
                    </button>
                </div>
            </form>
            <hr>
            <div class="table-responsive" style="max-height: 250px; overflow: scroll;">
                <table class="table table-hover table-sm" id="tablaFija" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th scope="col" class="th-sm">ID</th>
                            <th scope="col" class="th-sm">Descripción</th>
                            <th scope="col" class="th-sm">DDR</th>
                            <th scope="col" class="th-sm">Capacidad</th>
                            <th scope="col" class="th-sm">Consumo</th>
                            <th scope="col" class="th-sm"></th>
                            <th scope="col" class="th-sm"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var ram in Model)
                        {
                            <tr>
                                <td>@ram.Id</td>
                                <td>@ram.Descripcion</td>
                                <td>@ram.VersionDDR</td>
                                <td>@ram.Capacidad</td>
                                <td>@ram.ConsumoEnergia</td>
                                <td>
                                    <button class="btn btn-warning" onclick="Modificar(@ram.Id);"></button>
                                </td>
                                <td>
                                    <button class="btn btn-danger" onclick="Eliminar(@ram.Id, false);"></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2 col-sm-12"></div>
        <div class="col-md-4 offset-md-4 p-2 col-sm-12 text-center">
            <button class="btn btn-outline-dark" onclick="LlamarVistaAgregar();">
                <span>Añadir &plus;</span>
            </button>
        </div>
        <div class="col-md-8 p-2 col-sm-12 text-center"></div>
        <div class="col-md-2 col-sm-12"></div>
    </div>
</div>
<!--Modal de Borrado-->
<div id="modalConfirmarBorrado" class="miModal">
    <div class="contenidoModal">
        <button class="btn" onclick="CerrarModales();">
            <span style="color: black;">&times;</span>
        </button>
        <!--Contenido del modal-->
        <div class="row">
        <div class="col-md-4 offset-md-4 col-sm-12">
            <p>¿Seguro de eliminar este elemento del Catálogo?</p>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-4 offset-md-2 col-sm-12 p-2 text-center">
            <button class="btn btn-outline-danger" onclick="Eliminar(0,true);">
                <span>Sí</span>
            </button>
        </div>
        <div class="col-md-4 col-sm-12 p-2 text-center">
            <button class="btn btn-outline-primary" onclick="CerrarModales();">
                <span>No</span>
            </button>
        </div>
        </div>
    </div>
</div>
<!--Modal de Guardado-->
<div id="modalGuardado" class="miModal">
    <div class="contenidoModal">
        <button class="btn" onclick="CerrarModales();">
            <span style="color: black;">&times;</span>
        </button>
        <!--Contenido del modal-->
        <div class="row">
            <div class="col-md-4 offset-md-4 col-sm-12">
                <h1 class="subtitle">Guardar</h1>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-8 offset-md-2 col-sm-12">
                <form action="" class="form-control">
                    <!--Organizacion de los inputs con columnas nested-->
                    <div class="row">
                        <div class="col-md-12 p-3">
                            <input id="txtDescripcion" class="form-control" type="text" placeholder="Descripcion">
                        </div>
                        <div class="col-md-12 p-3">
                            <input id="txtConsumo" class="form-control" type="text" placeholder="Consumo (W)" onkeypress="SoloNumeros(event)">
                        </div>
                        <div class="col-md-4 offset-md-2 col-sm-12 p-2">
                            <label for="">DDR</label>
                            <select id="txtDDR" class="form-control">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-12 p-2">
                            <label for="">Capacidad</label>
                            <select class="form-control" id="txtCapacidad">
                                <option value="">2</option>
                                <option value="">4</option>
                                <option value="">6</option>
                                <option value="">8</option>
                                <option value="">12</option>
                                <option value="">16</option>
                                <option value="">32</option>
                                <option value="">64</option>
                                <option value="">128</option>
                            </select>
                        </div>
                        <div class="col-md-4 offset-md-4 col-sm-12 p-2">
                            <button class="btn btn-outline-dark" onclick="Guardar();">
                                <span>Guardar &plus;</span>
                            </button>
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
            <div></div>
        </div>
    </div>
</div>
