@model List<ET.DTO.Almacenamiento_DTO>
@section Scripts
{
    <script type="text/javascript">
        let idGlobal;
        const Borrar = () => {
            document.getElementById("modalBorrar").style.display = "block";
        }
        const Guardar = () => {
            window.location.replace("/Almacenamiento/Create");
        }
        const Modificar = (id) => {
            window.location.replace("/Almacenamiento/Edit"+id);
        }
        const Eliminar = (id, confirmado) => {
            if (id != 0)
                idGlobal = id;
            if (!confirmado)
                document.getElementById("modalConfirmarBorrado").style.display = "block";
            else 
            {
                id = idGlobal;
                $.ajax({
                    url: "/Almacenamiento/Delete",
                    type: "POST",
                    data: { id: id },
                    success: function (respuesta) {
                        swal("Exito!", "Eliminado", "success");
                        window.location.reload();
                    },
                    error: function () {
                        swal("Ha ocurrido un problema", "Error al eliminar", "success");
                    }
                });
                document.getElementById("modalConfirmarBorrado").style.display = "none";
            }
        }
        const CerrarModales = () => {
            document.getElementById("modalConfirmarBorrado").style.display = "none";
        }
    </script>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-md-4 col-sm-12 p-3">
            <h1 class="title text-center">Gestión de los dispositivos de Almacenamiento del catálogo</h1>
        </div>
        <div class="col-md-4 col-sm-12"></div>
        <div class="col-md-8 offset-md-2 p-2 text-center">
            <form action="" class="form-control">
                <div class="col-md-12 input-group p-3">
                    <input class="form-control col-md-10" type="text" placeholder="Descripcion" onchange="alert('Evento busqueda')">
                    <button class="btn btn-outline-secondary" onclick="alert('Evento busqueda')">
                        <span>&#63;</span>
                    </button>
                </div>
            </form>
            <hr>
            <div class="table-responsive" style="max-height: 250px; overflow: scroll;">
                <table class="table table-hover table-sm" id="tablaFija" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th scope="col" class="th-sm">ID</th>
                            <th scope="col" class="th-sm">Descripción</th>
                            <th scope="col" class="th-sm">Capacidad</th>
                            <th scope="col" class="th-sm">Consumo</th>
                            <th scope="col" class="th-sm">M.2</th>
                            <th scope="col" class="th-sm"></th>
                            <th scope="col" class="th-sm"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var almacenamiento in Model)
                        {
                            <tr>
                                <td>@almacenamiento.id</td>
                                <td>@almacenamiento.descripcion</td>
                                <td>@almacenamiento.capacidad</td>
                                <td>@almacenamiento.consumoEnergia</td>
                                <td>@almacenamiento.m2</td>
                                <td>
                                    <button class="btn btn-warning" onclick="Modificar(@almacenamiento.id);"></button>
                                </td>
                                <td>
                                    <button class="btn btn-danger" onclick="Eliminar(@almacenamiento.id, false);"></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2 col-sm-12"></div>
        <div class="col-md-4 offset-md-4 p-2 col-sm-12 text-center">
            <button class="btn btn-outline-dark" onclick="Guardar();">
                <span>Añadir &plus;</span>
            </button>
        </div>
        <div class="col-md-8 p-2 col-sm-12 text-center"></div>
        <div class="col-md-2 col-sm-12"></div>
    </div>
</div>
<!--Modal de Borrado-->
<div id="modalConfirmarBorrado" class="miModal">
    <div class="contenidoModal">
        <button class="btn" onclick="CerrarModales();">
            <span style="color: black;">&times;</span>
        </button>
        <!--Contenido del modal-->
        <div class="row">
            <div class="col-md-4 offset-md-4 col-sm-12">
                <p>¿Seguro de eliminar este elemento del Catálogo?</p>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-4 offset-md-2 col-sm-12 p-2 text-center">
                <button class="btn btn-outline-danger" onclick="Eliminar(0,true);">
                    <span>Sí</span>
                </button>
            </div>
            <div class="col-md-4 col-sm-12 p-2 text-center">
                <button class="btn btn-outline-primary" onclick="CerrarModales();">
                    <span>No</span>
                </button>
            </div>
        </div>
    </div>
</div>